<div class="container">
    <h2>Lista de Lanchonetes Cadastradas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Taxa de Entrega</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let business of businesses">
                <td data-label="ID">{{ business.id }}</td>
                <td data-label="Nome">
                    <a [routerLink]="'/business/1/' + business.id">{{ business.name }}</a>
                </td>
                <td data-label="Endereço">{{ business.address }}</td>
                <td data-label="Telefone">{{ business.phone }}</td>
                <td data-label="Taxa de Entrega">{{ business.deliveryFee }}</td>
                <td data-label="Categoria">{{ business.category }}</td>
            </tr>
        </tbody>
    </table>
</div>
